/*--------------------------------------------
-------------------GENERAL--------------------
--------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: #bbdefb;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  margin: 70px 0px 50px;
  font-size: 70px;
}

h2 {
  margin-bottom: 50px;
  font-size: 35px;
}

/*--------------------------------------------
----------------BARRE QUI DESCEND------------
--------------------------------------------*/
#barre-desc {
  margin: 10px 0  200px;
}

#descend {
  margin: 0 auto;
  width: 250px;
  height: 100px;
  background-color: #0d47a1;
  border-radius: 20px;
  transition-delay: 0.1s;
  transition-duration: 1.5s;
  transition-property: height;
  border: 2px solid #fff;
}

#descend:hover {
  height: 800px;
}

#descend p {
  line-height: 100px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}


/*--------------------------------------------
---------------CARRE QUI TOURNE---------------
--------------------------------------------*/
#carre-tourne {
  margin: 10px 0 200px;
}

#carre {
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  margin: 150px auto 0;
  background-color: #0d47a1;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {background-color: #0d47a1;}
  10% {background-color: #0d47a1; transform: rotate(0deg);}
  50% {background-color: #42a5f5; transform: rotate(720deg);}
  60% {background-color: #42a5f5; transform: rotate(720deg);}
  100% {background-color: #0d47a1; transform: rotate(0deg);}
}